<!DOCTYPE html>
<html lang="en" hidden>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autorizar aplicação</title>
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <header
      class="w-screen bg-[#313233] px-8 py-1 text-white text-sm font-light select-none"
    >
      <span class="flex gap-2"
        ><i class="bi bi-bank"></i> Universidade Exemplar de Mato Grosso do
        Sul</span
      >
    </header>
    <main class="min-h-screen w-screen bg-blue-50 flex justify-center">
      <div class="flex flex-col items-center gap-10 p-10">
        <div class="flex flex-col gap-4 items-center">
          <img
            class="w-[150px]"
            draggable="false"
            src="/passaporte_logo.png"
            alt="Logotipo do Passaporte UFMS"
          />
          <h1 class="text-3xl font-semibold">Passaporte UFMS</h1>
        </div>
        <div
          class="flex flex-col gap-4 bg-white rounded-md w-[600px] shadow-lg p-10"
        >
          <div class="flex flex-col gap-8">
            <div class="flex flex-col gap-2 items-center">
              <h4 class="text-lg font-semibold">
                Autorização de uso de dados pessoais
              </h4>
              <p class="text-md font-semibold">
                Serviço:
                <a class="underline" href="{{client.homePageUri}}"
                  >{{client.name}}</a
                >
              </p>
            </div>

            <p class="text-sm text-gray-500">
              Este serviço deseja utilizar as seguintes informações pessoais da
              sua conta:
            </p>

            <div
              class="border border-gray-100 rounded-md divide-y divide-gray-100"
            >
              {{#scopesInfo}}
              <div class="flex items-center p-4 gap-4">
                <i
                  class="bi {{authorizationRequestIcon}} text-xl text-gray-600"
                ></i>
                <div class="flex flex-col">
                  <h5 class="font-semibold">{{authorizationRequestTitle}}</h5>
                  <p class="text-sm text-gray-600">
                    {{authorizationRequestDescription}}
                  </p>
                </div>
              </div>
              {{/scopesInfo}}
            </div>
          </div>

          <div class="flex flex-col items-center gap-2">
            <a class="w-full" href="{{authorizeRequestCallbackUri}}">
              <button
                class="rounded text-white text-xl font-semibold uppercase w-full p-4 bg-blue-400 hover:bg-blue-500"
              >
                Autorizar
              </button>
            </a>
            <a class="w-full" href="{{denyRequestCallbackUri}}">
              <button
                class="rounded text-gray-500 text-xl font-semibold uppercase w-full p-4 border border-gray-300 hover:bg-gray-100"
              >
                Negar
              </button>
            </a>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
