---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Sistema Acadêmico">
  <header
    class="w-screen bg-[#313233] px-8 py-1 text-white text-sm font-light select-none"
  >
    <span class="flex gap-2"
      ><i class="bi bi-bank"></i> Universidade Exemplar de Mato Grosso do Sul</span
    >
  </header>
  <main class="min-h-screen w-screen login-background flex justify-center">
    <div class="flex flex-col items-center gap-10 p-10">
      <img
        class="w-[250px]"
        draggable="false"
        src="/siscad_logo.png"
        alt="siscad logo"
      />
      <div
        class="flex flex-col gap-4 bg-white rounded-md w-[400px] shadow-lg p-10"
      >
        <a href="/oauth/passport">
          <button
            class="rounded text-white text-lg font-semibold w-full p-4 bg-blue-400 hover:bg-blue-500 gap-4 flex items-center justify-center"
          >
            <i class="bi bi-file-person-fill"></i>
            <span>Login com Passaporte UFMS</span>
          </button>
        </a>
      </div>
    </div>
  </main>
</Layout>
