<!DOCTYPE html>
<html lang="en" hidden>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Autorizar acesso</title>
    <script type="module" src="https://cdn.skypack.dev/twind/shim"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"
    />
  </head>
  <body
    class="bg-[#ecf0f5] min-h-screen w-screen flex items-center justify-center"
  >
    <form
      class="bg-white p-6 rounded-xl shadow-sm flex flex-col gap-6"
      onsubmit="onSubmit(event)"
    >
      <h2 class="text-gray-700 text-lg">
        Digite sua senha para autorizar o acesso
      </h2>
      <input type="hidden" name="user_id" value="{{userId}}" />
      <input
        type="hidden"
        name="student_profile_id"
        value="{{studentProfileId}}"
      />
      <div class="p-4 border border-gray-200 rounded-md flex gap-4">
        <i class="bi bi-lock-fill text-lg text-gray-600"></i
        ><input
          type="password"
          name="password"
          class="placeholder:text-xl w-full"
          placeholder="Sua senha"
        />
      </div>
      <button
        type="submit"
        class="rounded text-white text-lg font-semibold w-full p-4 bg-blue-400 hover:bg-blue-500"
      >
        Autorizar
      </button>
    </form>
  </body>

  <script>
    function onSubmit(event) {
      event.preventDefault();

      const formData = new FormData(event.target);

      fetch(
        `{{apiUrl}}/profiles/${formData.get(
          "student_profile_id"
        )}/authorize?user_id=${formData.get("user_id")}`,
        {
          method: "post",
          headers: {
            password: formData.get("password"),
          },
        }
      )
        .then((response) => response.json())
        .then((data) => {
          if (!data.error) {
            window.location.href = "http://localhost:8080/";
          } else {
            console.error(data);
          }
        });
    }
  </script>
</html>
