---
import { StudentProfile } from "../../components/profile/StudentProfile";
import { StudentInfo } from "../../components/profile/StudentInfo";
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Sistema Acadêmico">
  <div class="flex flex-col gap-10 p-10">
    <h2 class="text-2xl font-medium">Perfil do Estudante</h2>
    <StudentInfo client:load />

    <div class="bg-white rounded-md w-[700px]">
      <header
        class="pb-6 p-4 border-b-2 border-blue-500"
      >
        <h1 class="text-3xl">Perfil do Estudante 2022/2</h1>
      </header>

      <StudentProfile client:load />
    </div>
  </div>
</MainLayout>

<style>
  .form-row {
    @apply flex flex-col gap-2 p-4 even:bg-gray-100;
  }
</style>
