---
export interface Props {
  name?: string;
  type?: astroHTML.JSX.InputHTMLAttributes["type"];
  icon?: string;
  placeholder?: string;
}

const { placeholder, icon, type, name } = Astro.props;
---

<div class="p-4 border border-gray-200 rounded-md flex gap-4">
  <i class={`bi ${icon} text-lg text-gray-600`}></i>
  <input
    name={name}
    type={type ?? "text"}
    class="placeholder:text-xl"
    placeholder={placeholder}
  />
</div>
